<div class="container">
<div class="row">
        <div class="col-sm-12">
            <h2>Job openings</h2>
         <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Web Designer</a>
              </h4>
              
              <p class="card-text">Lead Web Designer / Developer Requirements. Maintain an understanding of the latest web applications and programming practices.... </p>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong">
  Read more
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Web Designer - Dublin, Ohio, USA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We believe that high quality, innovative software is built by craftsmen in a collaborative workshop environment, rather than by workers on an assembly line. Our team values passion and dedication over drudgery and busywork. To us, crafting software is a way of life, not just a job. If you share our passion for breaking new ground every day, while delivering cutting edge software solutions, and are driven to continuously improve your craft while striving for perfection each and every day, then we may have a spot for you in our high growth, startup company. 
<br><br>
If you are selected to join our team, you will have the opportunity to work with a wide array of languages and technologies, learn and leverage agile practices, work on various layers of the architecture stack, build awesome web and mobile apps, and learn to love the safety of a well-written automated test. 
<br><br>
<h5>What you'll do... </h5>
<li>Requirements Estimation</li>
<li>Software Development</li>
<li>Software Testing</li>
<li>Software Deployment</li>
<li>Software Demonstrations</li>
<li>Systems Documentation</li>
<li>Daily Stand Ups</li>
<li>Retrospectives</li>
<li>Essential Job Functions:</li>
<li>Code/Test/Deploy Software 80%</li>
<li>Mentoring/Pairing/Code Reviews 10%</li>
<li>Requirement Estimation & Software Spikes 5%</li>
<li>Meetings/Presentations/Demos 5%</li>
<br><br>
<h5>What you'll bring...</h5> 
2+ years of experience with Javascript, HTML5, and CSS/LESS/SASS
1+ years of experience with React.js, Redux (preferable) or similar framework
1+ years of experience with Jasmine, Mocha, or similar test framework
1+ years of experience with Java
Test driven development experience is highly desirable
Demonstrates ability to develop for responsive web
Working knowledge of Object Oriented development and Object modeling
Working knowledge of SQL and Object to Relational Mapping frameworks
Working knowledge of package management and boilerplate tools (NPM, CreateReactApp)
Proficiency with Git
Passion for developing exceptional end user experiences and client applications
Ability to work from design mocks to create user interfaces identifying UI gaps or inconsistencies
Propensity to overcome challenges and solve “hard” problems
Internal drive for continuous improvement (knowledge, standards, best practices)
Strong communication skills with the ability to adjust communication to fit the audience
Ability to collaborate with project stakeholders including product managers and designers
Relentless desire to deliver, say what you’ll do and do what you say
Bachelors or Masters Degree in Computer Science is preferred or equivalent experience <br>
<br>
<h5>Bonus Points...</h5> 
<li>Experience with mobile development (native or non-native)</li>
<li>Experience with progressive web development</li>
<li>Experience with graphics, asset, or media production</li>
<li>Design experience</li>
<li>Experience using MySQL server</li>
<br><br>
Please note - this is not a remote position. Our office is in Dublin, Ohio. <br><br>
<h4>Job posted: 10 hours ago</h4>
      </div>
      <div class="modal-footer">
        
                <a href="mailto:some@email.com" target="_blank" class="btn btn-outline-secondary">Apply by email</a>
        <button type="button" class="btn btn-outline-secondary">Save</button><button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Junior Front End Developer</a>
              </h4>
              
              <p class="card-text">Junior Web Developer. Experience with progressive web development. Demonstrates ability to develop for responsive web....</p>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong2">
  Read more
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Front End Developer, Chicago, Illinios, USA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       ParkWhiz is looking for a Front End Developer with an interest in front end technologies and a passion for optimizing user experiences.
<br><br>
On the web front we are looking for someone to help internationalize and contribute to our white-label websites. This person will be a key contributor to both the desktop and mobile web UI and UX.
We're in an exciting and rapidly evolving industry that requires constant innovation, evaluation, and iteration. Help us perfect the parking experience.
What you'll be doing
<br><br>
Obviously write a great deal of Javascript
Experience in React, Redux, Enzyme, Node, HTML, and CSS are preferred
Collaborate with Product and the rest of the engineering team to enforce consistent and intuitive interactions across platforms
Conduct hallway usability tests
Suggest improvements in the way we leverage our existing toolkit
As a member of the .com team, contribute to planning and execution efforts across the web application as needed
Writing acceptance tests using Capybara and Selenium
What you bring to the table
<br><br>
<li>A strong knowledge of JavaScript and the JavaScript ecosystem and well on your way toward gaining expertise. (ES6, Node, Immutable, moment)</li>
<li>Strong familiarity with existing front end frameworks to include UI components, Javascript libraries and frameworks, font libraries, and grid systems</li>
<li>You'll be working with most of the following, so an understanding or familiarity with some of them would help: React, Redux, Webpack, and Yarn/Npm.</li>
<li>An obsession to create the optimal user experience
<li>Above all we're looking for bright, motivated, passionate engineers who want to work with the same.</li>
<li>Experience with Enzyme unit tests</li>
<li>Experience working in a Ruby on Rails environment a plus</li><br><br>
<h4>Job posted: 7 hours ago</h4>
      </div>
      <div class="modal-footer">
         
        <a href="mailto:some@email.com" target="_blank" class="btn btn-outline-secondary">Apply by email</a>
        <button type="button" class="btn btn-outline-secondary">Save</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
              


            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Javascript Junior</a>
              </h4>
              
              <p class="card-text">Junior Web Developer. 2+ years of experience with Javascript, HTML5, and CSS/LESS/SASS. We believe that high ­quality, innovative software is built by craftsmen...</p><!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong3">
  Read more
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle3" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle3">Java Script Software Engineer, Brunn am Gebirge, AUT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Die Papyrus Kommunikations- und Prozessplattform konsolidiert als Standardsoftware ECM, BPM, CRM in einem technologisch einzigartigen System. Wir bieten unseren Kunden eine maßgeschneiderte Oberfläche mit hoher Flexibilität für Webbrowser. Dazu verwenden wir JavaScript, HTML und REST Interfaces.
<br><br>  
<h5>Ihre Aufgaben:</h5>
Entwickeln von Graphical User Interfaces im Web
Umsetzung von GUI Konzepten
Ihr Profil:
Erfahrung mit JavaScript und HTML
Kenntnisse einer objektorientierten Programmiersprache
Englisch in Wort und Schrift
Kreatives Denken
Selbständiger, sorgfältiger und flexibler Arbeitsstil
ISIS Papyrus Europe AG <br><br>
<h5>Von Vorteil wären folgende Kenntnisse:</h5>
<li>REST</li>
<li>JSON</li>
<li>ISIS Papyrus Europe AG</li>
<li>Meine zukünftigen Benefits:</li>
<li>Hochmodernes neues Headquarter</li>
<li>Kostenlose Tiefgarage für alle Mitarbeiter</li>
<li>Große Grünanlage mit Terrassen und Relaxzonen</li>
<li>High Tech Infrastruktur mit neuester Video-Conference-Technologie</li>
<li>Internationale und offene Unternehmenskultur</li>
<li>Wertschätzung und respektvoller Umgang</li>
<li>Weiterentwicklung im Team durch erfahrene Kollegen</li>
<li>Langfristige Beschäftigung in einer profitablen Unternehmensgruppe</li>
<li>Regelmäßige Firmenevents</li>
<li>Projekte in der Gesundheitsförderung</li>
<li>Duschmöglichkeit für Alle die sportlich in den Tagen starten möchten</li><br><br> 
Werden auch Sie Teil unseres Unternehmenswachstums, denn Ihre Kompetenz ist die Basis unseres Erfolgs! <br><br>
<h4>Job posted: 2 hours ago</h4>
      </div>
      <div class="modal-footer">
         
        
        <a href="mailto:some@email.com" target="_blank" class="btn btn-outline-secondary">Apply by email</a>
        <button type="button" class="btn btn-outline-secondary">Save</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
              

            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Frontend Developer</a>
              </h4>
              <p class="card-text">Collaborate with product, back-end developers and web designers. Front End Web Developer. 70% Front End Web Development (HTML5, CSS, Responsive Design)....</p>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong4">
  Read more
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle4" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle4">Frontend Developer, Bangalore, India</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We, at Zolo, are looking for a Frontend Developer who comes with at least 1+ years experience a walking Wiki of Codes who is passionate for pushing mobile technologies to the limits and will work with a team of talented engineers to design and build the next generation applications for Zolo. We are a consumer product and believe that we write code that impacts each one of our users' lives in a positive way, so you can go to any lengths to provide a bug-free experience and fix issues swiftly when required. Skills - Knowledge of Javascript. advanced JS skill, or past use of libraries such as ReactJS.Pick your weapon of choice and work with it.
  <br><hr>
<h4>What does the core role include?</h4>
<br>
<li>Architect complex UIs without using external frameworks, but should also have hands-on experience and proficiency in external frameworks</li>
<li>Work on our powerful, cross-browser javascript library, Own and drive our  dashboard to make it faster and simpler to use Get to experiment and work on cutting-edge technologies on a bunch of microsites</li>
<li>Improving UI/UX of existing products</li>
<li>Build reusable code and libraries for future use</li>
<li>Develop new user-facing features</li>
<li>Own & build new modules/features end-to-end independently</li>
<li>Collaborate with other team members and stakeholders</li>
<li>Optimize application for maximum speed and scalability</li>
<li>Ensure the technical feasibility of UI/UX designs</li>
      </div>
      <div class="modal-footer">
         
                <a href="mailto:some@email.com" target="_blank" class="btn btn-outline-secondary">Apply by email</a>
        <button type="button" class="btn btn-outline-secondary">Save</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

            </div>
          </div>
        </div>
        
      </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h2>
    Companies that hire at the moment
    </h2>
            

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">View Sonic</a>
              </h4>
              <img src="https://1000logos.net/wp-content/uploads/2017/12/ViewSonic-Symbol-768x432.jpg" style="width:150px;height:80px;" alt="">
              <p class="card-text">ViewSonic Corporation is a multinational electronics company specializing in visual display technology, specifically liquid-crystal displays, projectors, modern educational display technology and more. </p>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong5">
  Read more
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle5" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle5">Front End Web Developer f/m</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h4>QUALIFICATIONS</h4>

<h5>EXPERIENCE</h5>

<li>Bachelor's degree in Multimedia / Web Design.</li>

<li>Expert knowledge of JavaScript, CSS3, HTML5, and/or CSS preprocessors (Sass/LESS).</li>

<li>2+ years of experience Front-End Development focusing on optimizing UX/UI.</li>

<li>Demonstrated ability to communicate design philosophy effectively.</li>

<li>Familiarity with widely used frameworks and prototyping tools including Adobe suite.</li>

<li>Experience working within a team and collaborating on large time-sensitive projects.</li>

<li>Ability to create and translate mockups into seamless responsive web pages with perfect visual a/li>functional elements (for all browsers/devices).</li>

<li>Strong understanding of REST APIs and knowledge of how to interface with them.</li>

<li>Up-to-date on latest web trends and emerging technologies.</li>

<li>Understanding of A/B testing and how to leverage results to improve designs.</li>

<li>Knowledge of Magento, WordPress, experience with PHP and back-end development. </li>
      </div>
      <div class="modal-footer">
        
        <a href="mailto:some@email.com" target="_blank" class="btn btn-outline-secondary">Apply by email</a>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">IBM</a>
              </h4>
              <img src="https://1000logos.net/wp-content/uploads/2017/02/IBM-Logo.png" style="width:150px;height:80px;" alt="">
              <p class="card-text">International Business Machines Corporation is an American multinational information technology company headquartered in Armonk, New York, United States, with operations in over 170 countries.</p>
              <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong6">
  Read more
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle6" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle6">Frontend Developer w/m, Wels, Österreich</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Creating a better digital tomorrow.

Unser Herz schlägt digital: Für das abwechslungsreiche Projektgeschäft und eine steile Lernkurve. Als Teil des IBM iX Netzwerkes realisieren wir mit unseren Technologiepartnern digitale Plattformen für die unterschiedlichsten Branchen, alles mit Blick auf die Zukunft. Das Beste dabei? Stabile Teams! Experten für User Experience, Backend wie Testing arbeiten in Scrum Teams zusammen und lernen voneinander. Möchtest du Teil davon werden? <br><hr>
<h4>Deine Aufgaben</h4>
<br>
<li>Realisierung von Webanwendungen für Desktop und mobile Endgeräte in HTML5 / CSS3 unter Einhaltung von Webstandard</li>
<li>Dynamisierung von Seitenelementen, Erstellung von Rich Internet Applications und mobilen WebApps mit Hilfe von JavaScript und verschiedenen Frameworks (jQuery, RactiveJS, AngularJS, ExtJS, KendoUI)</li>
<li>Browser- und Performance-Optimierung des Codes sowie Usability-Optimierung bestehender Frontends in Zusammenarbeit mit Konzeptern</li>
<li>Sicherstellung der Cross-Browser-Kompatibilität sowie Optimierung für mobile Endgeräte</li>
<li>Evaluierung und Einführung von modernen Frontend-Technologien</li>
      </div>
      <div class="modal-footer">
        
        <a href="mailto:some@email.com" target="_blank" class="btn btn-outline-secondary">Apply by email</a>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
              


            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">FUJITSU</a>
              </h4>
              <img src="https://1000logos.net/wp-content/uploads/2017/12/Fujitsu-Logo-768x432.png" style="width:150px;height:80px;" alt="">
              <p class="card-text">Fujitsu Ltd. is a Japanese multinational information technology equipment and services company headquartered in Tokyo, Japan.</p>
              <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong7">
  Read more
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle7" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle7">Front End Web Developer, Japan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>QUALIFICATIONS</h4>

<h5>EXPERIENCE</h5>

<li>Bachelor's degree in Multimedia / Web Design.</li>

<li>Expert knowledge of JavaScript, CSS3, HTML5, and/or CSS preprocessors (Sass/LESS).</li>

<li>2+ years of experience Front-End Development focusing on optimizing UX/UI.</li>

<li>Demonstrated ability to communicate design philosophy effectively.</li>

<li>Familiarity with widely used frameworks and prototyping tools including Adobe suite.</li>

<li>Experience working within a team and collaborating on large time-sensitive projects.</li>

<li>Ability to create and translate mockups into seamless responsive web pages with perfect visual a/li>functional elements (for all browsers/devices).</li>

<li>Strong understanding of REST APIs and knowledge of how to interface with them.</li>

<li>Up-to-date on latest web trends and emerging technologies.</li>

<li>Understanding of A/B testing and how to leverage results to improve designs.</li>

<li>Knowledge of Magento, WordPress, experience with PHP and back-end development. </li>
      </div>
      <div class="modal-footer">
        
        <a href="mailto:some@email.com" target="_blank" class="btn btn-outline-secondary">Apply by email</a>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
              

            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">yelp</a>
              </h4><img src="https://1000logos.net/wp-content/uploads/2018/01/yelp-logo-768x432.png" style="width:150px;height:80px;" alt="">
              <p class="card-text">Yelp is a local-search service powered by crowd-sourced review forum, as well as an American multinational corporation headquartered in San Francisco, California. </p>
              <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong8">
  Read more
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle8" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle8">yelp, San Francisco, California, USA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>What You Will Do:</h4>
        <br>
Build new features in Kotlin on top of modern open source foundations (RxJava2, Retrofit, Glide, Dagger, etc.).
Iterate quickly (weekly release cycle, Multi-Module build) on existing functionality to reliably give our users a smooth experience.
<br>
Mentor other engineers and share the skills you’ve learned.
Be a key part of the larger Android developer community at Yelp.
<br><hr>
<h4>We Are Looking For:</h4>
<li>Insistence on a consistent and responsive user experience.</li>
<li>Eagerness to embrace challenges with scalability, reliability, and performance.</li>
<li>A passion for Yelp and its mission to connect people with great local businesses.</li>
If you don't have at least one year of experience in a similar role, please take a look at our College Engineering roles instead!
      </div>
      <div class="modal-footer">
        
        <a href="mailto:some@email.com" target="_blank" class="btn btn-outline-secondary">Apply by email</a>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

            </div>
          </div>
        </div>
        
      </div>
      <!-- /.row -->
    </div>