<div class="container mt-5">
	<h1 class="title text-center p-3">Our Success Stories</h1>

	<h4 class="title text-center p-4">Alumni from CodeFactory</h4>
	
		<div class="row p-2">
			
			<figure class="col-md-4 col-sm-12">
				<figcaption class="text-uppercase font-weight-bold text-center">George Davis</figcaption>

				<div>
					<div class="hovereffect">
						<img class="img-fluid img-thumbnail" src="./assets/img/one.jpg" alt="man">

						<div class="overlay">
            				
				                <p>
				                    <a href="https://twitter.com/" target="_blank">
				                        <i class="fab fa-twitter"></i>
				                    </a>
				                    <a href="https://www.facebook.com/" target="_blank">
				                        <i class="fab fa-facebook f"></i>
				                    </a>
				                    <a href="https://www.instagram.com/" target="_blank">
				                        <i class="fab fa-instagram"></i>
				                    </a>
				                    <a href="https://www.linkedin.com/" target="_blank">
				                        <i class="fab fa-linkedin-in"></i>
				                    </a>
				                </p>
            				
        				</div>
					</div>
				</div>

			</figure>

			<p class="col-md-4 col-sm-12 text-justify pt-md-4">Est velit egestas dui id ornare arcu. Malesuada nunc vel risus commodo. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Feugiat pretium nibh ipsum consequat nisl vel. Senectus et netus et malesuada fames ac. Tristique magna sit amet purus. Morbi tincidunt ornare massa eget egestas purus viverra. Scelerisque eu ultrices vitae auctor eu augue. Dui nunc mattis enim ut tellus elementum sagittis. Ullamcorper sit amet risus nullam eget felis.</p>
			<div class="col-md-4 col-sm-12 text-justify pt-md-4">
				<p class="font-weight-bold">Skills:</p>
				<ul>
					<li>Teamwork</li>
					<li>Problem Solving</li>
					<li>Proactivity and enterprise</li>
					<li>Flexibility to use new Technologies</li>
					<li>Motivation to learn new things</li>
			<br></ul>
					<button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		    		Read more
		  			</button>
				
			</div>

			<div class="collapse m-3" id="collapseExample">
				<div class="card card-body">
				   	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A diam maecenas sed enim. Pharetra massa massa ultricies mi quis hendrerit dolor. Magna fermentum iaculis eu non. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Maecenas accumsan lacus vel facilisis volutpat. Magna fringilla urna porttitor rhoncus. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Et malesuada fames ac turpis egestas integer. In ante metus dictum at tempor commodo ullamcorper. Tempus quam pellentesque nec nam. Tellus at urna condimentum mattis. Purus sit amet volutpat consequat mauris. Tempus egestas sed sed risus pretium quam vulputate dignissim. Pretium fusce id velit ut.</p>

					<p>Sed odio morbi quis commodo odio aenean sed adipiscing diam. Vestibulum sed arcu non odio euismod lacinia at quis. Malesuada bibendum arcu vitae elementum curabitur. Sed augue lacus viverra vitae congue eu consequat. Lobortis mattis aliquam faucibus purus in massa. Id neque aliquam vestibulum morbi blandit cursus risus at ultrices. Parturient montes nascetur ridiculus mus mauris vitae ultricies. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Lorem ipsum dolor sit amet consectetur. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Vel orci porta non pulvinar neque laoreet suspendisse. Purus ut faucibus pulvinar elementum integer enim neque. Purus sit amet luctus venenatis lectus magna fringilla urna.</p>
				</div>
			</div>
			
		</div>

		<hr>

		<div class="row p-2">

			<figure class="change col-md-4 col-sm-12">
				<figcaption class="text-uppercase font-weight-bold text-center">Serena Andrews</figcaption>

				<div>
					<div class="hovereffect">
						<img class="img-fluid img-thumbnail" src="./assets/img/three.jpg" alt="woman">

						<div class="overlay">
            				
				                <p>
				                    <a href="https://twitter.com/" target="_blank">
				                        <i class="fab fa-twitter"></i>
				                    </a>
				                    <a href="https://www.facebook.com/" target="_blank">
				                        <i class="fab fa-facebook f"></i>
				                    </a>
				                    <a href="https://www.instagram.com/" target="_blank">
				                        <i class="fab fa-instagram"></i>
				                    </a>
				                    <a href="https://www.linkedin.com/" target="_blank">
				                        <i class="fab fa-linkedin-in"></i>
				                    </a>
				                </p>
            				
        				</div>
					</div>
				</div>
				
			</figure>

			<p class="summary col-md-4 col-sm-12 text-justify pt-md-4">Est velit egestas dui id ornare arcu. Malesuada nunc vel risus commodo. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Feugiat pretium nibh ipsum consequat nisl vel. Senectus et netus et malesuada fames ac. Tristique magna sit amet purus. Morbi tincidunt ornare massa eget egestas purus viverra. Scelerisque eu ultrices vitae auctor eu augue. Dui nunc mattis enim ut tellus elementum sagittis. Ullamcorper sit amet risus nullam eget felis.</p>
			<div class="skills col-md-4 col-sm-12 text-justify pt-md-4 pl-md-5">
				<p class="font-weight-bold">Skills:</p>
				<ul>
					<li>Creative thinking</li>
					<li>Problem Solving</li>
					<li>Working Flexibility</li>
					<li>New Technologies</li>
					<li>Negotiation and presentation</li>
			<br></ul>
					<button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
		    		Read more
		  			</button>
				
			</div>

			<div class="expand collapse m-3" id="collapseExample2">
				<div class="card card-body">
				   	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A diam maecenas sed enim. Pharetra massa massa ultricies mi quis hendrerit dolor. Magna fermentum iaculis eu non. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Maecenas accumsan lacus vel facilisis volutpat. Magna fringilla urna porttitor rhoncus. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Et malesuada fames ac turpis egestas integer. In ante metus dictum at tempor commodo ullamcorper. Tempus quam pellentesque nec nam. Tellus at urna condimentum mattis. Purus sit amet volutpat consequat mauris. Tempus egestas sed sed risus pretium quam vulputate dignissim. Pretium fusce id velit ut.</p>

					<p>Sed odio morbi quis commodo odio aenean sed adipiscing diam. Vestibulum sed arcu non odio euismod lacinia at quis. Malesuada bibendum arcu vitae elementum curabitur. Sed augue lacus viverra vitae congue eu consequat. Lobortis mattis aliquam faucibus purus in massa. Id neque aliquam vestibulum morbi blandit cursus risus at ultrices. Parturient montes nascetur ridiculus mus mauris vitae ultricies. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Lorem ipsum dolor sit amet consectetur. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Vel orci porta non pulvinar neque laoreet suspendisse. Purus ut faucibus pulvinar elementum integer enim neque. Purus sit amet luctus venenatis lectus magna fringilla urna.</p>
				</div>
			</div>

		</div>

		<hr>

		<div class="row p-2">
			
			<figure  class="col-md-4 col-sm-12">
				<figcaption class="text-uppercase font-weight-bold text-center">Carla Madison</figcaption>

				<div>
					<div class="hovereffect">
						<img class="img-fluid img-thumbnail" src="./assets/img/six.jpg" alt="woman">

						<div class="overlay">
            				
				                <p>
				                    <a href="https://twitter.com/" target="_blank">
				                        <i class="fab fa-twitter"></i>
				                    </a>
				                    <a href="https://www.facebook.com/" target="_blank">
				                        <i class="fab fa-facebook f"></i>
				                    </a>
				                    <a href="https://www.instagram.com/" target="_blank">
				                        <i class="fab fa-instagram"></i>
				                    </a>
				                    <a href="https://www.linkedin.com/" target="_blank">
				                        <i class="fab fa-linkedin-in"></i>
				                    </a>
				                </p>
            				
        				</div>
					</div>
				</div>
				
			</figure>

			<p class="col-md-4 col-sm-12 text-justify pt-md-4">Est velit egestas dui id ornare arcu. Malesuada nunc vel risus commodo. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Feugiat pretium nibh ipsum consequat nisl vel. Senectus et netus et malesuada fames ac. Tristique magna sit amet purus. Morbi tincidunt ornare massa eget egestas purus viverra. Scelerisque eu ultrices vitae auctor eu augue. Dui nunc mattis enim ut tellus elementum sagittis. Ullamcorper sit amet risus nullam eget felis.</p>
			<div class="col-md-4 col-sm-12 text-justify pt-md-4">
				<p class="font-weight-bold">Skills:</p>
				<ul>
					<li>Teamwork</li>
					<li>Confidence and communication</li>
					<li>Leadership</li>
					<li>Resourcefulness</li>
					<li>Motivation to learn new things</li>
			<br></ul>
					<button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
		    		Read more
		  			</button>
				
			</div>

			<div class="collapse m-3" id="collapseExample3">
				<div class="card card-body">
				   	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A diam maecenas sed enim. Pharetra massa massa ultricies mi quis hendrerit dolor. Magna fermentum iaculis eu non. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Maecenas accumsan lacus vel facilisis volutpat. Magna fringilla urna porttitor rhoncus. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Et malesuada fames ac turpis egestas integer. In ante metus dictum at tempor commodo ullamcorper. Tempus quam pellentesque nec nam. Tellus at urna condimentum mattis. Purus sit amet volutpat consequat mauris. Tempus egestas sed sed risus pretium quam vulputate dignissim. Pretium fusce id velit ut.</p>

					<p>Sed odio morbi quis commodo odio aenean sed adipiscing diam. Vestibulum sed arcu non odio euismod lacinia at quis. Malesuada bibendum arcu vitae elementum curabitur. Sed augue lacus viverra vitae congue eu consequat. Lobortis mattis aliquam faucibus purus in massa. Id neque aliquam vestibulum morbi blandit cursus risus at ultrices. Parturient montes nascetur ridiculus mus mauris vitae ultricies. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Lorem ipsum dolor sit amet consectetur. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Vel orci porta non pulvinar neque laoreet suspendisse. Purus ut faucibus pulvinar elementum integer enim neque. Purus sit amet luctus venenatis lectus magna fringilla urna.</p>
				</div>
			</div>

		</div>

		<hr>

		<div class="row p-2">

			<figure  class="change col-md-4 col-sm-12">
				<figcaption class="text-uppercase font-weight-bold text-center">Peter Klint</figcaption>

				<div>
					<div class="hovereffect">
						<img class="img-fluid img-thumbnail" src="./assets/img/four.jpg" alt="man">

						<div class="overlay">
            				
				                <p>
				                    <a href="https://twitter.com/" target="_blank">
				                        <i class="fab fa-twitter"></i>
				                    </a>
				                    <a href="https://www.facebook.com/" target="_blank">
				                        <i class="fab fa-facebook f"></i>
				                    </a>
				                    <a href="https://www.instagram.com/" target="_blank">
				                        <i class="fab fa-instagram"></i>
				                    </a>
				                    <a href="https://www.linkedin.com/" target="_blank">
				                        <i class="fab fa-linkedin-in"></i>
				                    </a>
				                </p>
            				
        				</div>
					</div>
				</div>
				
			</figure>

			<p class="summary col-md-4 col-sm-12 text-justify pt-md-4">Est velit egestas dui id ornare arcu. Malesuada nunc vel risus commodo. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Feugiat pretium nibh ipsum consequat nisl vel. Senectus et netus et malesuada fames ac. Tristique magna sit amet purus. Morbi tincidunt ornare massa eget egestas purus viverra. Scelerisque eu ultrices vitae auctor eu augue. Dui nunc mattis enim ut tellus elementum sagittis. Ullamcorper sit amet risus nullam eget felis.</p>
			<div class="skills col-md-4 col-sm-12 text-justify pt-md-4 pl-md-5">
				<p class="font-weight-bold">Skills:</p>
				<ul>
					<li>Time management abilities</li>
					<li>Problem Solving</li>
					<li>Positive atitude</li>
					<li>Eager to learn Technologies</li>
					<li>Motivation</li>
			<br></ul>
					<button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
		    		Read more
		  			</button>
				
			</div>

			<div class="expand collapse m-3" id="collapseExample4">
				<div class="card card-body">
				   	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A diam maecenas sed enim. Pharetra massa massa ultricies mi quis hendrerit dolor. Magna fermentum iaculis eu non. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Maecenas accumsan lacus vel facilisis volutpat. Magna fringilla urna porttitor rhoncus. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Et malesuada fames ac turpis egestas integer. In ante metus dictum at tempor commodo ullamcorper. Tempus quam pellentesque nec nam. Tellus at urna condimentum mattis. Purus sit amet volutpat consequat mauris. Tempus egestas sed sed risus pretium quam vulputate dignissim. Pretium fusce id velit ut.</p>

					<p>Sed odio morbi quis commodo odio aenean sed adipiscing diam. Vestibulum sed arcu non odio euismod lacinia at quis. Malesuada bibendum arcu vitae elementum curabitur. Sed augue lacus viverra vitae congue eu consequat. Lobortis mattis aliquam faucibus purus in massa. Id neque aliquam vestibulum morbi blandit cursus risus at ultrices. Parturient montes nascetur ridiculus mus mauris vitae ultricies. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Lorem ipsum dolor sit amet consectetur. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Vel orci porta non pulvinar neque laoreet suspendisse. Purus ut faucibus pulvinar elementum integer enim neque. Purus sit amet luctus venenatis lectus magna fringilla urna.</p>
				</div>
			</div>

		</div>

		<hr>

		<div class="row p-2">
			
			<figure  class="col-md-4 col-sm-12">
				<figcaption class="text-uppercase font-weight-bold text-center">Marisa Lindsey</figcaption>

				<div>
					<div class="hovereffect">
						<img class="img-fluid img-thumbnail" src="./assets/img/five.jpg" alt="woman">

						<div class="overlay">
            				
				                <p>
				                    <a href="https://twitter.com/" target="_blank">
				                        <i class="fab fa-twitter"></i>
				                    </a>
				                    <a href="https://www.facebook.com/" target="_blank">
				                        <i class="fab fa-facebook f"></i>
				                    </a>
				                    <a href="https://www.instagram.com/" target="_blank">
				                        <i class="fab fa-instagram"></i>
				                    </a>
				                    <a href="https://www.linkedin.com/" target="_blank">
				                        <i class="fab fa-linkedin-in"></i>
				                    </a>
				                </p>
            				
        				</div>
					</div>
				</div>
				
			</figure>

			<p class="col-md-4 col-sm-12 text-justify pt-md-4">Est velit egestas dui id ornare arcu. Malesuada nunc vel risus commodo. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Feugiat pretium nibh ipsum consequat nisl vel. Senectus et netus et malesuada fames ac. Tristique magna sit amet purus. Morbi tincidunt ornare massa eget egestas purus viverra. Scelerisque eu ultrices vitae auctor eu augue. Dui nunc mattis enim ut tellus elementum sagittis. Ullamcorper sit amet risus nullam eget felis.</p>
			<div class="col-md-4 col-sm-12 text-justify pt-md-4">
				<p class="font-weight-bold">Skills:</p>
				<ul>
					<li>Teamwork</li>
					<li>Conflict resolution</li>
					<li>Proactivity and enterprise</li>
					<li>Work well under pressure</li>
					<li>Decision making</li>
			<br></ul>
					<button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
		    		Read more
		  			</button>
				
			</div>

			<div class="collapse m-3" id="collapseExample5">
				<div class="card card-body">
				   	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A diam maecenas sed enim. Pharetra massa massa ultricies mi quis hendrerit dolor. Magna fermentum iaculis eu non. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Maecenas accumsan lacus vel facilisis volutpat. Magna fringilla urna porttitor rhoncus. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Et malesuada fames ac turpis egestas integer. In ante metus dictum at tempor commodo ullamcorper. Tempus quam pellentesque nec nam. Tellus at urna condimentum mattis. Purus sit amet volutpat consequat mauris. Tempus egestas sed sed risus pretium quam vulputate dignissim. Pretium fusce id velit ut.</p>

					<p>Sed odio morbi quis commodo odio aenean sed adipiscing diam. Vestibulum sed arcu non odio euismod lacinia at quis. Malesuada bibendum arcu vitae elementum curabitur. Sed augue lacus viverra vitae congue eu consequat. Lobortis mattis aliquam faucibus purus in massa. Id neque aliquam vestibulum morbi blandit cursus risus at ultrices. Parturient montes nascetur ridiculus mus mauris vitae ultricies. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Lorem ipsum dolor sit amet consectetur. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Vel orci porta non pulvinar neque laoreet suspendisse. Purus ut faucibus pulvinar elementum integer enim neque. Purus sit amet luctus venenatis lectus magna fringilla urna.</p>
				</div>
			</div>

		</div>

		<hr>

		<div class="row p-2">

			<figure  class="change col-md-4 col-sm-12">
				<figcaption class="text-uppercase font-weight-bold text-center">Lucca Morris</figcaption>

				<div>
					<div class="hovereffect">
						<img class="img-fluid img-thumbnail" src="./assets/img/two.jpg" alt="man">

						<div class="overlay">
            				
				                <p>
				                    <a href="https://twitter.com/" target="_blank">
				                        <i class="fab fa-twitter"></i>
				                    </a>
				                    <a href="https://www.facebook.com/" target="_blank">
				                        <i class="fab fa-facebook f"></i>
				                    </a>
				                    <a href="https://www.instagram.com/" target="_blank">
				                        <i class="fab fa-instagram"></i>
				                    </a>
				                    <a href="https://www.linkedin.com/" target="_blank">
				                        <i class="fab fa-linkedin-in"></i>
				                    </a>
				                </p>
            				
        				</div>
					</div>
				</div>
					
			</figure>

			<p class="summary col-md-4 col-sm-12 text-justify pt-md-4">Est velit egestas dui id ornare arcu. Malesuada nunc vel risus commodo. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Feugiat pretium nibh ipsum consequat nisl vel. Senectus et netus et malesuada fames ac. Tristique magna sit amet purus. Morbi tincidunt ornare massa eget egestas purus viverra. Scelerisque eu ultrices vitae auctor eu augue. Dui nunc mattis enim ut tellus elementum sagittis. Ullamcorper sit amet risus nullam eget felis.</p>
			<div class="skills col-md-4 col-sm-12 text-justify pt-md-4 pl-md-5">
				<p class="font-weight-bold">Skills:</p>
				<ul>
					<li>Teamwork</li>
					<li>Creative thinking</li>
					<li>Time management</li>
					<li>Leadership</li>
					<li>Motivation to learn new things</li>
			<br></ul>
					<button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
		    		Read more
		  			</button>
				
			</div>

			<div class="expand collapse m-3" id="collapseExample6">
				<div class="card card-body">
				   	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A diam maecenas sed enim. Pharetra massa massa ultricies mi quis hendrerit dolor. Magna fermentum iaculis eu non. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Maecenas accumsan lacus vel facilisis volutpat. Magna fringilla urna porttitor rhoncus. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Et malesuada fames ac turpis egestas integer. In ante metus dictum at tempor commodo ullamcorper. Tempus quam pellentesque nec nam. Tellus at urna condimentum mattis. Purus sit amet volutpat consequat mauris. Tempus egestas sed sed risus pretium quam vulputate dignissim. Pretium fusce id velit ut.</p>

					<p>Sed odio morbi quis commodo odio aenean sed adipiscing diam. Vestibulum sed arcu non odio euismod lacinia at quis. Malesuada bibendum arcu vitae elementum curabitur. Sed augue lacus viverra vitae congue eu consequat. Lobortis mattis aliquam faucibus purus in massa. Id neque aliquam vestibulum morbi blandit cursus risus at ultrices. Parturient montes nascetur ridiculus mus mauris vitae ultricies. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Lorem ipsum dolor sit amet consectetur. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Vel orci porta non pulvinar neque laoreet suspendisse. Purus ut faucibus pulvinar elementum integer enim neque. Purus sit amet luctus venenatis lectus magna fringilla urna.</p>
				</div>
			</div>

		</div>
	
</div>
