<div class="container">

	<div>
		<div id='main'><div class='wow bounceInUp' id='section-div'><h4 id='par'> Name : "
         {{name}} "</h4><p id='par'> E-mail : "
         {{email}} "</p><div id='like'><span id='par' class='result'> Job-title : " {{jobtitle}} "</span><div><button id='btn' type='button' class='btn btn-primary' data-toggle='modal' data-target='#mod1'>more info</button></div></div></div>
    <div>
	    <div class="hovereffect">
	        <img id="img" class="img-responsive" src="{{image}}" alt="">
	            <div class="overlay">
	        <p>
	                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
	                  <i class="fab fa-facebook-f"></i>
	                    </a>
	                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
	              <i class="fab fa-twitter"></i>
	                    </a>
	                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
	                 <i class="fab fa-instagram"></i>
	                    </a>
	                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
	                    <i class="fab fa-whatsapp"></i>
	                    </a>
	                </p>
	            </div>
	    </div>
	</div>
</div>
</div><hr>
         <!--second-->

         <div><div id='main'>
    <div>
    <div class="hovereffect">
        <img id="img" class="img-responsive" src="{{image1}}" alt="">
            <div class="overlay">
                 <p>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                  <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
              <i class="fab fa-twitter"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                 <i class="fab fa-instagram"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                    <i class="fab fa-whatsapp"></i>
                    </a>
                </p>
            </div>
    </div></div>
    <div class='wow bounceInUp' id='section-div'><h4 id='par'> Name : "
         {{name1}} "</h4><p id='par'> E-mail : "
         {{email}} "</p><div id='like'><span id='par' class='result'> Job-title : " {{jobtitle}} "</span><div><button id='btn' type='button' class='btn btn-primary' data-toggle='modal' data-target='#mod2'>more info</button></div></div></div>
</div>
</div><hr>
         <!--third-->

         <div><div id='main'><div class='wow bounceInUp' id='section-div'><h4 id='par'> Name : "
         {{name2}} "</h4><p id='par'> E-mail : "
         {{email2}} "</p><div id='like'><span id='par' class='result'> Job-title : " {{jobtitle2}} "</span><div><button id='btn' type='button' class='btn btn-primary' data-toggle='modal' data-target='#mod3'>more info</button></div></div></div>
    <div>
    <div class="hovereffect">
        <img id="img" class="img-responsive" src="{{image2}}" alt="">
            <div class="overlay">
          
                 <p>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                  <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
              <i class="fab fa-twitter"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                 <i class="fab fa-instagram"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                    <i class="fab fa-whatsapp"></i>
                    </a>
                </p>
            </div>
    </div>
</div></div>
</div><hr>
		<!--fourth-->

         <div><div id='main'>
    <div>
    <div class="hovereffect">
        <img id="img" class="img-responsive" src="{{image3}}" alt="">
            <div class="overlay">
          
                  <p>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                  <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
              <i class="fab fa-twitter"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                 <i class="fab fa-instagram"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                    <i class="fab fa-whatsapp"></i>
                    </a>
                </p>
            </div>
    </div></div>
    <div class='wow bounceInUp' id='section-div'><h4 id='par'> Name : "
         {{name3}} "</h4><p id='par'> E-mail : "
         {{email3}} "</p><div id='like'><span id='par' class='result'> Job-title : " {{jobtitle3}} "</span><div><button id='btn' type='button' class='btn btn-primary' data-toggle='modal' data-target='#mod4'>more info</button></div></div></div>
</div>
</div><hr>
         <!--fifth-->
<div><div id='main'><div class='wow bounceInUp' id='section-div'><h4 id='par'> Name : "
         {{name4}} "</h4><p id='par'> E-mail : "
         {{email4}} "</p><div id='like'><span id='par' class='result'> Job-title : " {{jobtitle4}} "</span><div><button id='btn' type='button' class='btn btn-primary' data-toggle='modal' data-target='#mod5'>more info</button></div></div></div>
    <div>
    <div class="hovereffect">
        <img id="img" class="img-responsive" src="{{image4}}" alt="">
            <div class="overlay">
             <p>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                  <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
              <i class="fab fa-twitter"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                 <i class="fab fa-instagram"></i>
                    </a>
                    <a href="http://www.codefactory.wien/en/welcome-to-codefactory/"target="_blank">
                    <i class="fab fa-whatsapp"></i>
                    </a>
                </p>
            </div>
    </div>
</div></div>
</div><hr>
       
		<!--sixth-->

         <div><div id='main'>
    <div>
    <div class="hovereffect">
        <img id="img" class="img-responsive" src="{{image5}}" alt="">
            <div class="overlay">
          
                 <p>
                    <a href="#">
                  <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
              <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                 <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                    <i class="fab fa-whatsapp"></i>
                    </a>
                </p>
            </div>
    </div></div>
    <div class='wow bounceInUp' id='section-div'><h4 id='par'> Name : "
         {{name5}} "</h4><p id='par'> E-mail : "
         {{email5}} "</p><div id='like'><span id='par' class='result'> Job-title : " {{jobtitle5}} "</span><div><button id='btn' type='button' class='btn btn-primary' data-toggle='modal' data-target='#mod6'>more info</button></div></div></div>
</div>
</div><hr>
<!--modal1-->
<div>
    <div id="mod1" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hi guys i am {{name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--modal2-->
<div id="mod2" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hi guys i am {{name1}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--modal3-->
<div id="mod3" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hi guys i am {{name2}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--modal4-->
<div id="mod4" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hi guys i am {{name3}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--modal5-->
<div id="mod5" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hi guys i am {{name4}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--modal6-->
<div id="mod6" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hi guys i am {{name5}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>