<div class="container">
      <!-- Page Heading -->
      <h1 class="my-4">Code Factory Alumni
        <small>Dolores est</small>
      </h1>
      <p class="lead mb-4">
  		Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.

	  </p>

      <!-- TEASER ITEM -->
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item teaser">
          <div class="card h-100">
            <a routerLink = "stories"><i class="fas fa-newspaper"></i></a>
            <div class="card-body">
              <h4 class="card-title">
                <a routerLink = "stories">Stories</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
              <a routerLink = "stories"><i class="fas fa-chevron-circle-right"></i> Stories</a>              
            </div>
          </div>
        </div>

        <!-- TEASER ITEM -->
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item teaser">
          <div class="card h-100">
            <a routerLink = "directory"><i class="fas fa-clipboard-check"></i></a>
            <div class="card-body">
              <h4 class="card-title">
                <a routerLink = "directory">Directory</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
              <a routerLink = "directory"><i class="fas fa-chevron-circle-right"></i> Directory</a>
            </div>
          </div>
        </div>

        <!-- TEASER ITEM -->
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item teaser">
          <div class="card h-100">
            <a routerLink = "career"> <i class="fas fa-chalkboard-teacher"></i></a>
            <div class="card-body">
              <h4 class="card-title">
                <a routerLink = "career"> Careers</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
              <a routerLink = "career"><i class="fas fa-chevron-circle-right"></i> Careers</a>              
            </div>
          </div>
        </div>

        <!-- TEASER ITEM -->
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item teaser">
          <div class="card h-100">
            <a outerLink = "events"><i class="fas fa-user-graduate"></i></a>
            <div class="card-body">
              <h4 class="card-title">
                <a routerLink = "events"> Events</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
              <a routerLink = "events"><i class="fas fa-chevron-circle-right"></i> Events</a>              
            </div>
          </div>
        </div>
        
      </div>
      <!-- /.row -->